#app {
  display: flex; }

aside {
  overflow: auto;
  width: 200px;
  height: 100vh;
  background-color: #304156; }
  aside .slogan {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center; }
    aside .slogan img {
      width: 80%; }
  aside > #dynamic_menu {
    width: 100%;
    margin-top: 40px; }
    aside > #dynamic_menu > a {
      color: #fff;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s; }
      aside > #dynamic_menu > a:hover {
        background-color: rgba(0, 0, 0, 0.2); }
      aside > #dynamic_menu > a.active {
        background-color: rgba(0, 0, 0, 0.2); }

main {
  padding: 20px;
  width: calc(100% - 200px);
  height: 100vh;
  background-color: #f0eeee;
  box-sizing: border-box; }
  main .user_info {
    width: 100%;
    display: flex;
    background-color: #808595;
    border-radius: 5px; }
    main .user_info .left {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center; }
      main .user_info .left img {
        width: 80px;
        height: 80px;
        border-radius: 50%; }
    main .user_info .right {
      width: 50%;
      display: flex;
      flex-wrap: wrap; }
      main .user_info .right .item {
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center; }
  main .actions {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #808595;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  main .edit_info > div {
    margin-top: 10px; }
    main .edit_info > div label {
      display: block;
      margin-bottom: 5px; }
    main .edit_info > div .send_email {
      display: flex; }
      main .edit_info > div .send_email .el-button {
        width: 150px; }
  main .collection_all {
    margin-top: 20px;
    background-color: #f0eeee;
    border-radius: 5px; }
    main .collection_all p {
      font-size: 14px;
      color: #333;
      margin-bottom: 5px; }
    main .collection_all .article_list {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      main .collection_all .article_list .item {
        padding: 20px;
        width: 33.33%;
        box-sizing: border-box;
        display: flex; }
        main .collection_all .article_list .item .left {
          width: 30%; }
          main .collection_all .article_list .item .left img {
            width: 100%; }
        main .collection_all .article_list .item .right {
          width: 70%;
          padding-left: 10px;
          box-sizing: border-box; }
          main .collection_all .article_list .item .right P {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; }
  main .no_article {
    text-align: center;
    margin-top: 20px; }

.collection_table {
  width: 100%;
  border-spacing: 1px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #a0b1c5; }
  .collection_table thead tr {
    color: #333;
    font-weight: 600;
    height: 50px;
    background-color: white; }
  .collection_table tbody tr {
    height: 40px;
    font-size: 14px;
    transition: all 0.3s; }
    .collection_table tbody tr td {
      text-align: center; }
    .collection_table tbody tr .select input {
      cursor: pointer; }
    .collection_table tbody tr .tags i {
      margin-right: 5px;
      padding: 0 5px;
      color: #fff;
      border-radius: 5px;
      font-size: 12px;
      height: 20px;
      display: inline-flex;
      align-items: center; }
    .collection_table tbody tr .tags i:nth-child(4n) {
      background-color: #ff9800; }
    .collection_table tbody tr .tags i:nth-child(4n+1) {
      background-color: #ddd161; }
    .collection_table tbody tr .tags i:nth-child(4n+2) {
      background-color: #26c6da; }
    .collection_table tbody tr .tags i:nth-child(4n+3) {
      background-color: #3a8ee6; }
  .collection_table tbody tr:nth-of-type(odd) {
    background-color: #f6f7fa; }
    .collection_table tbody tr:nth-of-type(odd):hover {
      background-color: #e3e6ee; }
  .collection_table tbody tr:nth-of-type(even) {
    background-color: #fff; }
    .collection_table tbody tr:nth-of-type(even):hover {
      background-color: #eceff5; }

.cancel_btn {
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #f0eeee;
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: #666d83; }

/*# sourceMappingURL=backend_base.css.map */
