#app{
    display: flex;
}
aside{
    width: 200px;
    height: 100vh;
    background-color: #304156;
    .slogan{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            width: 80%;
        }
    }
    >ul{
        width: 100%;
        margin-top: 40px;
        >li{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            a{
                color: #fff;
            }
            &:hover{
                background-color: rgba(0,0,0,0.2);
            }
        }
    }

}
main{
    padding: 20px;
    width: calc(100% - 200px);
    height: 100vh;
    background-color: #f0eeee;
    box-sizing: border-box;
    .user_info{
        width: 100%;
        display: flex;
        background-color: #808595;
        border-radius: 5px;
        .left{
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }
        .right{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            .item{
                width: 50%;
                height: 40px;
                display: flex;
                align-items: center;
            }
        }
    }
    .actions{
        width: 100%;
        height: 60px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: #808595;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .edit_info{
        > div{
            margin-top: 10px;
            label{
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    .collection_all{
        margin-top: 20px;
        background-color: #808595;
        border-radius: 5px;
        p{
            text-align: center;
            padding-top: 10px;
            font-size: 18px;

        }
        .article_list{
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .item{
                padding: 20px;
                width: 33.33%;
                box-sizing: border-box;
                display: flex;
                .left{
                    width: 30%;

                    img{
                        width: 100%;
                    }
                }
                .right{
                    width: 70%;
                    padding-left: 10px;
                    box-sizing: border-box;
                    P{
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}