<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台界面</title>
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/backend/backend_base.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    {% block css %}
    
    {% endblock %}
</head>
<body>
<div id="app">
    <aside>
        <div class="slogan">
            <img src="/static/my/img/backend/slogan.png" alt="">
        </div>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/backend/">个人中心</a></li>
            <li><a href="/backend/edit_avatar/">修改头像</a></li>
            <li><a href="/backend/reset_password/">修改密码</a></li>
            {% if request.user.is_superuser %}
                <li><a href="/backend/add_article/">添加文章</a></li>
            {% endif %}
            <li><a href="/logout/">注销退出</a></li>
        </ul>
    </aside>
    <main>
    {% csrf_token %}
        {% block main %}
            <div class="user_info">
            <div class="left">
                <img src="/static/my/img/img_head/1.webp" alt="">
            </div>
            <div class="right">
                <div class="item">
                    <span><b>用户名</b>zzzz</span>
                </div>
                <div class="item">
                    <span><b>注册时间</b>2022-1-5</span>
                </div>
                <div class="item">
                    <span><b>上次登陆时间</b>2022-4-5</span>
                </div>
                <div class="item">
                    <span><b>积分</b>20</span>
                </div>
                <div class="item">
                    <span><b>邮箱</b>312313134@qq.com</span>
                </div>
                <div class="item">
                    <span><b>手机号码</b>1848182222</span>
                </div>
            </div>
        </div>
            <div class="actions">
            <div class="item"><el-button type="primary">完善信息</el-button></div>
            <div class="item"><el-button type="info">修改头像</el-button></div>
            <div class="item"><el-button type="warning">修改密码</el-button></div>
            <div class="item"><el-button type="danger">注销退出</el-button></div>
        </div>
            {% block content %}
                <div class="collection_all">
                <p>我收藏的文章</p>
                <div class="article_list">
                    <div class="item">
                        <div class="left">
                            <img src="/media/article_img/1.webp" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>路由分发路由分发路由由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="left">
                            <img src="/media/article_img/1.webp" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>路由分发路由分发路由由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="left">
                            <img src="/media/article_img/1.webp" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>路由分发路由分发路由由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="left">
                            <img src="/media/article_img/1.webp" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>路由分发路由分发路由由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发路由分发</p>
                        </div>
                    </div>
                </div>

            </div>
            {% endblock %}
        {% endblock %}

    </main>
</div>

<script src="/static/axios/axios.min.js"></script>
<script src="/static/vue/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
{% block js %}

{% endblock %}
<script>
        axios.interceptors.request.use(
            request=>{
                if (request.method === 'post'){
                    let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
                    request.headers[ 'X-CSRFToken'] = csrftoken
                }
                return request
            }),
            axios.interceptors.response.use(
                response=>{
                return response.data
            }),

    new Vue({
        el: '#app',
        data:{
            add_drawer: false,
            add_article_activeNames:['1'],
            category_id:'',
            category_options: [
                {value:'0',label: '前端'},
                {value:'1',label: '后段'},
            ],
            tags:[],
            recommend: true,
            pwd_active: false,
            pwd:'',
            cover_id:'',
            title:'',
            abstract:'',
        },
        created(){

            let img = document.getElementById('cover_img')
            let cover_list = eval(img.getAttribute('data'))
            let item = cover_list[Math.floor(Math.random() * cover_list.length)]
            img.setAttribute('src', item.uri)
            this.cover_id = item.nid.toString()
        },
        methods: {
            add_handleClose(done) {
                done()
            },
            add_article(){
                let data ={
                    title: this.title,
                    cover_id: this.cover_id,
                    pwd: this.pwd,
                    recommend: this.recommend,
                    tags:this.tags,
                    category: this.category,
                    abstract:this.abstract,
                    content:editor.querySelector('.editormd-markdown-textarea').value
                }
                axios.post('/api/article/', data).then(res => {
                    if(res.code){
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(() => {
                        location.href = `/article/${res.data}/`
                    },1000)
                })
            },

            select_cover(val){
                setTimeout(() =>{
                    let v = document.querySelector('.article_cover input').value
                    let cover = document.getElementById('cover_img')
                    cover.src = v
                },1)
            },
        }
    })
</script>
</body>
</html>