{% load my_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}无名小站｜后台{% endblock %}</title>
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/backend/backend_base.css">
    <link rel="stylesheet" href="/static/elementui/theme-chalk/index.css">
    {% block CSS %}
    
    {% endblock %}
</head>
<body>
<div id="app">
    <aside>
        <div class="slogan">
            <img src="/static/my/img/backend/slogan.png" alt="">
        </div>
        <div id="dynamic_menu">
            <a href="/">首页</a>
            <a href="/backend/">个人中心</a>
            <a href="/backend/edit_avatar/">修改头像</a>
            <a href="/backend/reset_password/">修改密码</a>
            {% if request.user.is_superuser %}
                <a href="/backend/add_article/">添加文章</a>
                <a href="/backend/avatar_list/">头像列表</a>
                <a href="/backend/cover_list/">文章封面</a>
                <a href="/admin/">后台系统</a>
            {% endif %}
            <a href="/logout/">注销退出</a>
        </div>
    </aside>
    <main>
    {% csrf_token %}
        {% block main %}
            <div class="user_info">
            <div class="left">
                <img src="{{ request.user.avatar_url }}" alt="">
            </div>
            <div class="right">
                <div class="item">
                    <span><b>用户名：</b>{{ request.user.username }}</span>
                </div>
                <div class="item">
                    <span><b>注册时间：</b>{{ request.user.date_joined }}</span>
                </div>
                <div class="item">
                    <span><b>上次登陆时间：</b>{{ request.user.last_login }}</span>
                </div>
                <div class="item">
                    <span><b>注册来源：</b>{{ request.user.get_sign_status_display }}</span>
                </div>
                <div class="item">
                    <span><b>账号状态：</b>{{ request.user.get_account_status_display }}</span>
                </div>
                <div class="item">
                    <span><b>邮箱：</b>
                    {% if request.user.email %}
                        {{  request.user.email }}
                    {% else %}
                        <a href="javascript:void (0)">绑定邮箱</a>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>
            <div class="actions">
            <el-dialog
                    title="完善信息"
                    :visible.sync="perfect_information_dialogVisible"
                    width="30%">
                    <div class="edit_info">
                        <div>
                            <label for="edit_password_old_pwd">邮箱</label>
                            <el-input id="" v-model="perfect_information.email" placeholder="请输入邮箱"></el-input>
                        </div>
                        <div>
                            <label for="">请输入验证码</label>
                            <div class="send_email">
                                <el-input id="" v-model="perfect_information.code" placeholder="请输入验证码"></el-input>
                                <el-button @click="send_email" :disabled="perfect_information_email_disable">发送邮箱验证码</el-button>
                            </div>
                        </div>
                        <div>
                            <label for="edit_password_re_pwd">请输入密码</label>
                            <el-input id="" v-model="perfect_information.pwd" placeholder="请输入密码"></el-input>
                        </div>
                        <p>绑定邮箱之后可以用邮箱加密码登陆</p>
                    </div>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="perfect_information_dialogVisible=false">取消</el-button>
                        <el-button type="primary" :disabled="perfect_information_method_disable" @click="perfect_information_method">确定</el-button>
                    </span>
                </el-dialog>
            <div class="item"><el-button @click="perfect_information_dialogVisible=true" type="primary">完善信息</el-button></div>
            <div class="item"><el-button type="info"><a href="/backend/edit_avatar/" style="color: white">修改头像</a></el-button></div>
            <el-dialog
                    title="修改密码"
                    :visible.sync="edit_password_dialogVisible"
                    width="30%">
                    <div class="edit_info">
                        <div>
                            <label for="edit_password_old_pwd">之前的密码</label>
                            <el-input id="edit_password_old_pwd" type="password" v-model="edit_password.old_pwd" placeholder="请输入旧密码"></el-input>
                        </div>
                        <div>
                            <label for="edit_password_pwd">新密码</label>
                            <el-input id="edit_password_pwd" type="password" v-model="edit_password.pwd" placeholder="请输入新密码"></el-input>
                        </div>
                        <div>
                            <label for="edit_password_re_pwd">重复新密码</label>
                            <el-input id="edit_password_re_pwd" type="password" v-model="edit_password.re_pwd" placeholder="请重复新密码"></el-input>
                        </div>
                    </div>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="edit_password_dialogVisible=false">取消</el-button>
                        <el-button type="primary" @click="edit_password_method">确定</el-button>
                    </span>
                </el-dialog>
            <div class="item"><el-button type="warning" @click="edit_password_dialogVisible=true">修改密码</el-button></div>
            <div class="item"><el-button type="danger">注销退出</el-button></div>
        </div>
            {% block content %}
            {% if collects_query.count %}
            <form method="post" action="/api/cancel_collection/" class="collection_all">
                {% csrf_token %}
                <p>共收藏文章{{ collects_query.count }}篇,选择[[ select_list.length ]]篇。</p>
                <div class="article_list">
                    <table class="collection_table">
                        <thead>
                            <tr>
                            <th>
                                <input type="checkbox" @click="select_all" data="{{ collects_query|get_coll_nid }}">
                            </th>
                            <th>标题</th>
                            <th>分类</th>
                            <th>标签</th>
                            <th>阅读</th>
                            <th>收藏</th>
                            <th>发布时间</th>
                            <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for col in collects_query %}
                                <tr>
                                <td class="select"><input v-model="select_list" type="checkbox" name="nid" value="{{ col.nid }}"></td>
                                <td>{{ col.title }}</td>
                                <td>{{ col.get_category_display }}</td>
                                <td class="tags">{{ col.tag.all|get_tags}}</td>
                                <td>{{ col.look_count }}</td>
                                <td>{{ col.collects_count }}</td>
                                <td>{{ col.create_date }}</td>
                                <td>{{ col.title }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <input v-show="select_list.length" type="submit" value="取消收藏" class="cancel_btn">
            </form>
            {% else %}
            <p class="no_article">还没有收藏文章，快去收藏文章吧</p>
            {% endif %}

            {% endblock %}
        {% endblock %}

    </main>
</div>

<script src="/static/axios/axios.min.js"></script>
<script src="/static/vue/vue.js"></script>
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/elementui/index.js"></script>
{% block js %}

{% endblock %}
<script>
        axios.interceptors.request.use(
            request=>{
                if (request.method !== 'get'){
                    let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
                    request.headers[ 'X-CSRFToken'] = csrftoken
                }
                return request
            }),
            axios.interceptors.response.use(
                response=>{
                return response.data
            }),

     new Vue({
        el: '#app',
        delimiters: [
                    "[[", "]]"
                ],
        data:{
            add_drawer: false,
            add_article_activeNames:['1'],
            category_id:'',
            tags:[],
            recommend: true,
            pwd_active: false,
            pwd:'',
            cover_id:'',
            title:'',
            abstract:'',
            edit_password_dialogVisible:false,
            edit_password: {
                old_pwd:'',
                pwd:'',
                re_pwd:'',
            },
            edit_avatar_id:'',
            avatar_list_headers:{},
            perfect_information_dialogVisible: false,
            perfect_information:{
                email:'',
                pwd:'',
                code:'',
            },
            perfect_information_email_disable:false,
            perfect_information_method_disable:true,
            select_list:[],

        },
        created(){
            let path = location.pathname
            let img = document.getElementById('cover_img')
            let path_dict={
                "add_article":this.init_add_article,
                "edit_article":this.init_edit_article,
                "edit_avatar":this.init_edit_avatar,
                'cover_list':this.init_cover_list,
                'avatar_list':this.init_avatar_list,
            }
            for(const key in path_dict){
                let index = path.indexOf(key)
                if(index !== -1){
                    path_dict[key](img)
                    break
                }
            }
        },
        mounted(){
            // 动态导航栏
            let dynamic_menu = document.getElementById('dynamic_menu')
            let a_list = dynamic_menu.querySelectorAll('a')
            let path = location.pathname
            for (const a of a_list){
                let a_href = a.getAttribute('href')
                if (a_href === path || a_href + '/' === path){
                    a.classList.add('active')
                }
            }

        },
        methods: {

            //添加文章初始化
            init_add_article(img){
                let cover_list = eval(img.getAttribute('data'))
                let item = cover_list[Math.floor(Math.random() * cover_list.length)]
                img.setAttribute('src', item.url)
                this.cover_id = item.nid.toString()
            },

            //编辑文章的初始化
            init_edit_article(img){
                let box = document.getElementById('edit_info')
                this.title = box.getAttribute('data_title')
                this.cover_id = box.getAttribute('data_cover_id')

                let recommend = box.getAttribute('data_recommend')
                if(recommend === 'True'){
                    this.recommend = true
                }
                else {
                    this.recommend = false
                }

                let cover_url = box.getAttribute('data_cover_url')
                img.setAttribute('srv',cover_url)

                this.abstract = box.getAttribute('data_abstract')
                let category_id = box.getAttribute('data_category')

                if(category_id !== 'None'){
                    this.category_id = category_id
                }

                this.tags = eval(box.getAttribute('data_tags'))

                let pwd = box.getAttribute('data_pwd')
                if(pwd !== 'None'){
                    this.pwd = pwd
                    this.pwd_active = true
                }
            },

            //关闭侧边栏
            add_handleClose(done) {
                done()
            },

            //添加文章和修改文章的回调
            add_edit_callback(res){
                    if(res.code){
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(() => {
                        location.href = `/article/${res.data}/`
                    },1000)
            },

            //获取数据的公共函数
            add_edit_article(){
                let data ={
                    title: this.title,
                    cover_id: this.cover_id,
                    pwd: this.pwd,
                    recommend: this.recommend,
                    tags:this.tags,
                    category: this.category_id,
                    abstract:this.abstract,
                    content:editor.querySelector('.editormd-markdown-textarea').value
                }
                return data
            },

            //添加文章的函数
            add_article(){
                let data = this.add_edit_article()
                axios.post('/api/article/', data).then(res => {
                    this.add_edit_callback(res)
                })
            },

            //选择图片
            select_cover(val){
                setTimeout(() =>{
                    let v = document.querySelector('.article_cover input').value
                    let cover = document.getElementById('cover_img')
                    cover.src = v
                },1)
            },

            //修改文章的函数
            edit_article(nid){
                let data = this.add_edit_article()
                axios.put(`/api/article/${nid}/`, data).then(res => {
                    this.add_edit_callback(res)
                 })
            },

            // 修改密码
            edit_password_method(){
                axios.post('/api/edit_password/', this.edit_password).then(res =>{
                    if(res.code){
                        this.$message.error(res.msg)
                        console.log(res.self)
                        $(`#edit_password_${res.self}`)[0].focus()
                        return
                    }
                    this.$message.success(res.msg)
                })
            },

            // 修改头像
            edit_avatar_method(){
                axios.put('/api/edit_avatar/',{
                        avatar_id: this.edit_avatar_id
                }).then(res =>{
                    if(res.code){
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    $('.user_info img').attr('src',res.data)
                })
            },

            // 初始化头像
            init_edit_avatar(img){
                let nid = eval($('.avatar_list').attr('avatar_nid'))
                this.edit_avatar_id = nid
            },

            // 文件列表上传
            avatar_list_upload(){
                let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
                this.avatar_list_headers[ 'X-CSRFToken'] = csrftoken
            },

            // 文件上传成功回调
            avatar_list_success(res){
                console.log(res)
                if(!res.code){
                    return
                }
                this.$message.error(res.msg)
            },

            // 删除图片
            avatar_cover_delete(nid, url, e){
                this.$confirm('此操作将永久删除该图片, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete(`/api/delete/${url}/${nid}/`).then(res =>{
                        if (res.code){
                            this.$message.error(res.msg)
                            return
                        }
                        this.$message.success(res.msg)
                        $(e.target).parent().parent().remove()
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            // 背景列表高度初始化
            init_cover_list(img){
                setTimeout(() =>{
                    let cover_height = document.querySelector('.cover_list').offsetHeight
                    if (cover_height > 360){
                        cover_height = 360
                    }
                    document.querySelector('.el-scrollbar').style.height=cover_height + 'px'
                },1)
            },

            // 头像列表高度初始化
            init_avatar_list(){
                setTimeout(() =>{
                    let avatar_height = document.querySelector('.active_list').offsetHeight
                    if (avatar_height > 360){
                        avatar_height = 360
                    }
                    document.querySelector('.el-scrollbar').style.height=avatar_height + 'px'
                },1)
            },

            // 邮箱发送
            send_email(){
                axios.post('/api/send_email/', this.perfect_information).then(res =>{
                    if(res.code){
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    console.log(res.msg)
                    let num = 60
                    let span = document.querySelector('.send_email .el-button span')
                    this.perfect_information_email_disable = true
                    this.perfect_information_method_disable = false
                    let timer = null
                    timer = setInterval(() =>{
                        span.innerHTML = num
                        if(num === 1){
                            span.innerHTML = '发送邮箱验证码'
                            this.perfect_information_email_disable = false
                            clearInterval(timer)
                        }
                        num--
                    },1000)
                })
            },

            // 完善信息
            perfect_information_method(){
              axios.put('/api/perfect_information/', this.perfect_information).then(res =>{
                if(res.code){
                    this.$message.error(res.msg)
                    return
                }
                this.$message.success(res.msg)
                this.perfect_information_dialogVisible = false
              })
            },

            select_all(e){
                if(this.select_all.flag){
                    this.select_list = []
                    this.select_all.flag = false
                    return
                }
                this.select_all.flag = true
                let div = e.target.getAttribute('data')
                this.select_list = eval(div)
            },
        },
    })
</script>
</body>
</html>