.cursor {
  cursor: pointer; }

.main {
  width: 1200px; }

.actions {
  display: flex; }
  .actions .tag_item {
    padding: 5px 10px;
    background-color: #d4d4d4;
    color: #333;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s; }
    .actions .tag_item.super {
      background-color: #00d95a;
      color: white; }
    .actions .tag_item[flag='show'] {
      background-color: #1890ff;
      color: #fff; }
  .actions .btn {
    height: 35px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    background-color: white;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s; }
    .actions .btn:hover {
      border-color: #3e8ee6;
      color: #3a8ee6; }
    .actions .btn[flag='show'] {
      border-color: #3e8ee6;
      color: #3a8ee6; }
  .actions .add {
    margin-right: 10px; }

.now_actions {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between; }

.site_list {
  margin-top: 20px;
  width: 100%;
  list-style: none;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap; }
  .site_list > li {
    width: 32.5%;
    margin-bottom: 20px;
    transition: all 0.5s; }
    .site_list > li .top {
      width: 100%;
      padding: 20px;
      height: 160px;
      background-color: white;
      box-sizing: border-box;
      position: relative; }
      .site_list > li .top .site_edit {
        position: absolute;
        right: 10px;
        cursor: pointer;
        top: 10px;
        opacity: 0;
        color: #9a9a9a;
        transition: all 0.3s; }
      .site_list > li .top:hover .site_edit {
        opacity: 1; }
      .site_list > li .top .content {
        display: flex;
        justify-content: space-between;
        height: 110px; }
        .site_list > li .top .content .cover {
          width: 15%;
          display: block; }
          .site_list > li .top .content .cover img {
            width: 100%; }
        .site_list > li .top .content .right {
          width: 85%;
          padding-left: 10px; }
          .site_list > li .top .content .right .title {
            display: block;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 600;
            color: #333; }
          .site_list > li .top .content .right .abstract {
            -webkit-line-clamp: 3;
            display: -webkit-box;
            overflow: hidden;
            overflow-wrap: break-word;
            -webkit-box-orient: vertical; }
      .site_list > li .top .tags {
        font-size: 14px;
        display: flex;
        justify-content: right; }
        .site_list > li .top .tags span {
          padding: 0 10px;
          background-color: #fafafa;
          border: 1px solid #d9d9d9;
          color: #333;
          border-radius: 2px;
          margin-left: 10px; }
    .site_list > li .bottom {
      margin-top: 1px;
      width: 100%;
      background-color: white;
      display: flex;
      box-sizing: border-box; }
      .site_list > li .bottom .item {
        position: relative;
        width: 33.33%;
        height: 40px;
        color: #9a9a9a;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px; }
        .site_list > li .bottom .item.show {
          color: red; }
        .site_list > li .bottom .item a {
          color: #9a9a9a; }
        .site_list > li .bottom .item span {
          margin-left: 5px; }
        .site_list > li .bottom .item:nth-child(1)::after, .site_list > li .bottom .item:nth-child(2)::after {
          content: '';
          display: block;
          width: 1px;
          height: 80%;
          background-color: #f5f5f5;
          position: absolute;
          right: 0; }
    .site_list > li:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
    .site_list > li:nth-child(3n+2):last-child {
      position: relative;
      left: -33%; }

.dialog_content > div {
  margin-bottom: 10px; }
  .dialog_content > div > label {
    display: flex;
    margin-bottom: 5px; }
  .dialog_content > div .icon_href {
    width: 70%; }
  .dialog_content > div .icon_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; }
    .dialog_content > div .icon_img img {
      height: 60px; }

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .notes img {
    height: 200px; }
  .notes span {
    margin-top: 20px;
    font-size: 14px;
    color: #333; }

/*# sourceMappingURL=sites.css.map */
