
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/vue/vue.js"></script>
</head>
<body>

    <div id="app">
        <link rel="stylesheet" :href="'/static/css/theme/' + theme +'.css'">
        <nav>
            <div class="left">
                <a href="#">首页</a>
                <a href="#">新闻</a>
                <a href="#">心得</a>
                <a href="#">关于</a>
            </div>

            <div class="right">
                <a href="#" @click="setTheme('light')">白色主题</a>
                <a href="#" @click="setTheme('dark')">黑色主题</a>
                <a href="#">登录</a>
                <a href="#">注册</a>
            </div>
        </nav>
        
        <main>
            内容区域
        </main>
    
        <footer>
            底部信息栏
        </footer>
    </div>
    <script>
        new Vue({
            el:'#app',
            delimiters:["[[", "]]"],
            data:{
                theme:'light'//默认主题
            },
            created(){
                this.init_theme()
            },
            methods:{
            //初始化主题信息
            init_theme(){
                let theme = localStorage.getItem('theme')
                if (theme){
                    this.theme = theme
                }
            },
            //设置主题
                setTheme(themeName){
                    this.theme = themeName
                    //持久化存储
                    localStorage.setItem('theme', themeName)
                }
            },

        })
    </script>
</body>
</html>