:root{
    --bg:#f0eeee;
    --bg_darken:#e2e2e2;
    --card_bg:white;
    --active:#409eff;
    --font_1:#333;
    --font_2:#555;
    --font_3:#777;
    --font_del:#dd6161;

    --ele_bg: var(--card_bg);
    --ele_placeholder: #c0c9db;
    --ele_btn_bg: white;
}